body {
    background-color: #001633;
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
    color: white;
}

.title {
    color: white;
}

.radio-items label {
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

.graph {
    width: 90%;
    margin: 0 auto;
}